<div class="container col">
  <h1 class="m-5">List: <%= @list.name.capitalize %></h1>
  <h2 class="m-3">Movies:</h2>

  <div class="list-container d-grid justify-content-center">
    <div class="grid">
      <% @list.movies.each do |movie| %>
        <div class="card g-col-12 g-col-xl-12 g-col-lg-6 g-col-md-4 g-col-sm-2 g-col-xs-1">
          <%= cl_image_tag("https://picsum.photos/id/#{rand(1..100)}(/200/300", crop: :fill) %>
          <div class="card-body">
            <h5 class="card-title"> <%= movie.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= movie.rating %></h6>
            <p class="card-text"><%= movie.overview %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
